@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");

body {
  background-color: #303030;
  color: #1edb8c;
}

.parent {
  display: grid;
  grid-template-columns: 0.7fr 1fr;
  grid-template-rows: 1fr repeat(2, 0.5fr) 1fr 0.5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.divimg {
  grid-area: 1 / 1 / 4 / 2;
  padding: 30px;
}
.divimg > img {
  border-radius: 20px;
  width: 400px;
  height: 400px;
}

.divname {
  grid-area: 1 / 2 / 2 / 3;
}
.divname > h1 {
  font-family: "Fredoka One";
  font-size: 72px;
  padding: 5px 0px 0px 10px;
}

.divprice {
  grid-area: 2 / 2 / 3 / 3;
}
.priceBack {
  background: #151515;
  border-radius: 20px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.price {
  font-family: "Fredoka One";
  font-size: 48px;
  padding: 5px 0px 0px 10px;
}
.euro {
  font-family: "Fredoka One";
  font-size: 72px;
  color: #ffffff;
  opacity: 0.4;
}

.divavg {
  grid-area: 3 / 2 / 4 / 3;
}
.avgBack {
  background: #151515;
  border-radius: 20px;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.avg {
  font-family: "Fredoka One";
  font-size: 48px;
  padding: 5px 0px 0px 10px;
}
.star {
  font-size: 58px;
}

.divdesc {
  grid-area: 4 / 1 / 5 / 3;
  background: #151515;
  border-radius: 20px;
  margin: 30px;
}
.divdesc > .desc {
  font-family: "Baloo Bhai 2";
  font-size: 24px;
  margin: 20px;
}

.divrate {
  grid-area: 5 / 1 / 6 / 3;
  font-size: 72px;
  display: flex;
  justify-content: center;
}
.divrate > .rate {
  font-family: "Fredoka One";
  font-size: 72px;
  text-align: center;
  padding-right: 10px;
}
.divrate > .ratestar {
  margin-top: -10px;
}
.divrate > .ratestar:hover {
  opacity: 0.6;
}

.divbuy {
  grid-area: 6 / 1 / 7 / 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 56px;
  font-weight: bold;
  font-family: "Fredoka One";
  margin: 0px 25px 0px 0px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer 
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
*/

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #202020;
  margin: 50px auto 50px auto;
  padding: 0;
  border-radius: 20px;
  width: 55%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.5s;
}

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.button-containerMod {
  display: block;
  margin: auto;
  text-align: center;
  padding-top: 2%;
}

.actionMod {
  display: inline-block;
  vertical-align: top;
  padding: 30px 90px;
  margin-right: 5px;
  color: #1edb8c;
  font-size: 30px;
  font-family: "Fredoka One";
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  position: relative;
  border: 2px solid #181818;
  -webkit-transition: all 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: all 0.1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.actionMod::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #181818;
  -webkit-transition: all 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  transition: all 0.4s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

.actionMod:hover:before {
  width: 100%;
}

.actionMod:hover > span {
  color: #1edb8c;
}

span {
  position: relative;
}
